[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
flask = "*"
pytest = "*"
torch = "*"
gsutil = "*"
google-cloud-storage = "*"
torchvision = "*"
pandas = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.9"
